body {
	font-family: Georgia, Serif, serif;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.text-vertical-center {
	position: relative;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
	padding-top: 15%;
}

.btn-dark {
	border-radius: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
	color: #fff;
	background-color: rgba(0,0,0,0.7);
}

input, textarea {
	padding: 12px 12px 16px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF;
}

.keyword-input {
	padding-top: 12px;
}

.text-vertical-center h1 {
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	font-weight: 700;
}

#mom-approved {
	position: relative;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
	padding-top: 70px;
	padding-right: 70px;
	float: right;
}