<html>
<head>
	<title>TidyNames</title>
	<link rel="shortcut icon" type="image/png" href="favicon.gif"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="index.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="mom-approved">
	<img src="mom-approved.png">
</div>
<div id="clean">
	<img src="clean.png" height="450" width="450">
</div>
<div class="text-vertical-center">
	<h1>Tidy Names!</h1>
	<h2>Add name</h2>
	<form class="form-inline" role="form" method="post" action="/add">
		<div class="form-group">
			<input class="keyword-input" id="firstName" name="firstName" placeholder="First name">
			<input class="keyword-input" id="lastName" name="lastName" placeholder="Last name">
		</div>
		<button type="submit" class="btn btn-dark btn-lg" id="addAction">Submit</button>
	</form>
	<br>
	<h2>Lookup</h2>
	<form class="form-inline" role="form" method="get" action="/lookup">
		<div class="form-group">
			<input class="keyword-input" id="name" name="name" placeholder="Name">
		</div>
		<button type="submit" class="btn btn-dark btn-lg">Submit</button>
	</form>
	<div id="queryResultWrapper">
		<div id="queryResult"></div>
	</div>
</div>
<div class="with-bg-size"></div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
$(function() {
	$('#addAction').click(function(ev) {
		ev.preventDefault();
		$.post('/add', { firstName: $('#firstName').val(), lastName: $('#lastName').val()})
			.then(function(result) {
				$('#queryResult').text(result);
			});
	});
});
</script>
</body>
</html>