body {
	height:100%;
	overflow-x:hidden;
}

.with-bg-size {
	background-image: url('landing.jpg');
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	margin:auto;
}

.text-vertical-center {
	position: relative;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
	padding-top: 18%;
}

.btn-dark {
	border-radius: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.4);
}

.btn-success {
	border-radius: 0;
	color: #fff;
	background-color: green;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
	color: #fff;
	background-color: rgba(0,0,0,0.7);
}

input, textarea {
	padding: 12px 12px 16px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF;
}

.keyword-input {
	padding-top: 12px;
}

.text-vertical-center h1 {
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	font-weight: 700;
}

#mom-approved {
	position: relative;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
	padding-top: 70px;
	padding-right: 70px;
	float: right;
}

#clean {
	position: absolute;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
	padding-top: 70px;
	padding-left: 10px;
}

body {
	color: #333333;
	font-family: Copperplate, serif;
}

#lookupResults {
	color: darkred;
	background-color: #fff;
}

#lookupResults li {
	list-style: none;
}
